@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --color-primary: #172b4d;
  --color-secondary: #36b37f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.text-light-green {
  color: var(--color-secondary);
}

.open-btn,
.close-btn {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  cursor: pointer;
}

.close-btn {
  text-align: right;
  margin-bottom: 60px;
}

.open-btn:focus,
.close-btn:focus {
  outline: none;
}

#toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
  position: relative;
}

.social-links {
  list-style: none;
  display: flex;
  margin: 30px 0;
  justify-content: center;
}

.social-links li {
  padding: 0 8px;
}

.social-links a {
  text-decoration: none;
  font-size: 22px;
  color: #505f79;
}

#menu {
  display: none;
  position: relative;
}

.overlay {
  display: none;
}

#menu.show {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  z-index: 99;
  margin: 0;
  border-radius: 0 0 30px 30px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 30px;
}

.popup-actions > a:nth-child(1) {
  margin-right: 12px;
}

#menu.show a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 40px;
}

#menu.show + .overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.logo-primary {
  color: #28352f;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}

#headline {
  background-image: url('./assets/header-illsutration-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.container-md {
  max-width: 920px;
  margin: auto;
}

#headline .container-md {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.heading-primary {
  color: var(--color-primary);
  margin: 30px 0;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 52px;
}

.supporting-text {
  color: var(--color-primary);
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0 24px;
}

#portfolio {
  padding: 24px;
  max-width: 1155px;
  margin: auto;
}

.indicator {
  width: 48px;
  border-top: 4px solid var(--color-secondary);
  border-radius: 24px;
  margin-bottom: 60px;
}

.icon-btn {
  display: block;
  margin: auto;
  cursor: pointer;
}

#portfolio .container-lg {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}

.card {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.card > img {
  width: 100%;
  height: 250px;
}

.card-details {
  padding: 0 10px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.card-title {
  margin: 0;
  color: #3a4a42;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.tag-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 600;
  color: #3a4a42;
  background-color: #ebf0ee;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  padding: 12px;
  background-color: var(--color-secondary);
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  align-self: center;
  cursor: pointer;
}

.about-cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  padding: 24px;
}

.bio {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* stylelint-disable  declaration-colon-newline-after */
  background-image: url('./assets/aboutme-illustration-1.png'),
    url('./assets/aboutme-illustration-2.png');
  background-position: right top, left bottom;
  background-repeat: no-repeat;
}

.bio > .supporting-text {
  color: #42526e;
  line-height: 32px;
  margin: 0 0 20px;
}

.card-secondary {
  height: 350px;
  border-radius: 8px;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c1c7d0;
  flex-wrap: wrap;
  padding: 10px;
}

.card-secondary .card-title {
  color: #344563;
  margin-bottom: 20px;
}

.card-secondary img {
  margin: 20px 0;
}

.tag-secondary {
  color: var(--color-secondary);
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
  background-color: #fff;
  border-radius: 8px;
}

.field small {
  color: #fb4934;
}

#contact {
  padding: 60px;
  background: url('./assets/illustration-contact-form.png') no-repeat 100% 75%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#contact h3 {
  margin-bottom: 58px;
}

.contact-form input {
  width: 100%;
  padding: 15px;
}

.contact-form input::placeholder {
  color: #6b778c;
  font-weight: 400;
  font-size: 15px;
}

.contact-form textarea {
  height: 114px;
  padding: 12px;
  border: 1px solid #60c095;
  border-radius: 4px;
  width: 100%;
}

.contact-form textarea::placeholder {
  color: #091e42;
  font-size: 15px;
}

footer {
  display: flex;
  flex-direction: column;
}

footer .social-links {
  margin-bottom: 17px;
}

.contact-email {
  margin: 0;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.footer-indicator {
  width: 150px;
  border-top: 4px solid #111;
  border-radius: 24px;
}

.popup-modal {
  transform: scale(0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 16px;
  transition: transform 0.25s ease-in-out;
}

.show-popup {
  transform: scale(1);
}

.popup-card {
  background-color: #fff;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  padding: 16px;
}

.popup-img {
  width: 100%;
}

.popup-card .title {
  color: var(--color-primary);
  font-weight: 600;
  line-height: 44px;
  font-size: 32px;
}

.popup-card .details p {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-primary);
  margin: 30px 0;
}

.popup-actions {
  text-align: center;
}

.close-popup {
  border: none;
  color: #333;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 0 0 16px auto;
}

.close-popup > i {
  padding: 8px;
}

/* media queries */

@media screen and (min-width: 960px) {
  .close-btn,
  .open-btn,
  .logo-primary {
    display: none;
  }

  #menu {
    display: flex;
    margin: auto;
  }

  #menu a {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 600;
  }

  #menu > a:not(:last-child) {
    margin-right: 26px;
  }

  #headline {
    background-image: url('./assets/header-illustration-desktop.png');
    height: 900px;
    background-size: cover;
  }

  .heading-primary {
    margin-top: 232px;
  }

  .supporting-text {
    padding: 0 75px;
  }

  #portfolio .container-lg {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .about-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 1171px;
    margin: auto;
  }

  .popup-modal {
    overflow: scroll;
  }

  .popup-card {
    padding: 30px;
    width: 920px;
    height: auto;
    margin: auto;
  }

  .popup-card .title {
    margin: 20px 0;
  }

  #contact {
    padding: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
  }

  #contact > form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  #contact h3 {
    margin: 0;
    width: 50%;
  }

  .contact-email {
    display: none;
  }

  .footer-indicator {
    display: none;
  }

  footer .social-links {
    width: 100%;
    border-top: 1px solid #dfe1e6;
    order: 2;
    padding: 25px 0;
  }
}
